@import url(./vendor/normalize.css);

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  padding: 101px 0 0;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility .5s, opacity .5s ease-in-out;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.42);;
  color: #000;
  z-index: 500;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}

.popup__container {
  width: 754px;
  box-sizing: border-box;
  padding: 53px 99px;
  background-color: #FFFFFF;
  border-radius: 12px;
  overflow: hidden;
}

.form__title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 34px;
  color: #0C1014;
}
